.parkDescription {
  text-align: left;
}

.park-info {
  text-align: left;
}

.park-contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.entrance-fee-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  margin: 25px 15px 30px 0px;
  padding-left: 20px;
  text-align: left;
}

.entrance-fee-span {
  font-size: 15px;
  margin-right: 15px;
}

.entrance-fee {
  font-size: 15px;
}

@media (max-width: 780px) {
  .render-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .park-page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
  }

  h3 {
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  .entrance-fee {
    font-size: 10px;
    margin-top: 6px;
  }
}